@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(237, 162, 11);
    color: crimson;
    font-family:"Bebas Neue";
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
}
#nav-left > #logo{
    width: 50px;
}
#nav-center > #navlinks{
    display: flex;
    list-style: none;
    gap: 25%;
}
#navlinks > li >a {
    text-decoration: none;
    font-size: 28px;
    color:rgb(7, 141, 107) ;
}
#nav-right{
    margin-right: 2%;
}
#nav-right > a{
    border: 2px solid #363131;
    font-size: 22px;
   border-radius:5px ;
   color: black;
   padding: 2% 0%;
   background-color: rgb(236, 229, 27);
   text-decoration: none;
}
#hero > h1{
    width: 100%;
    font-family: "Bebas Neue";
    font-size: 200px;
    font-weight: 400;
    border-style: solid;
    border-width: 2% 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}
#hero h3{
    font-size: 29px;
    color: rgb(17, 117, 120);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#images img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 50px;
    animation: fadeInOut 15s infinite;
}
#images #img2{
    transform:translate(-50%, -50%) rotate(-20deg);
    animation-delay: 2s;
}
#images #img3{
    transform:translate(-50%, -50%) rotate(-18deg);
    animation-delay: 4s;
}
#images #img4{
    transform:translate(-50%, -50%) rotate(-16deg);
    animation-delay: 6s;
}
#images #img5{
    transform:translate(-50%, -50%) rotate(-14deg);
    animation-delay: 8s;
}
#images #img6{
    transform:translate(-50%, -50%) rotate(-12deg);
    animation-delay: 10s;
}
#images #img7{
    transform:translate(-50%, -50%) rotate(-10deg);
    animation-delay: 12s;
}
#images #img8{
    transform:translate(-50%, -50%) rotate(-8deg);
    animation-delay: 14s;
}
#images #img1{
animation-delay: 0s;
}
@keyframes fadeInOut {
    0%, 20%{
        opacity: 1;
    }
    21%, 100%{
        opacity: 0;
    }
}
@media (max-width: 600px) {
    #nav-left > #logo{
        width: 30px;
    }
    #navlinks > li > a{
        font-size: 15px;
    }
    #hero h1{
        font-size: 120px;
    }
    #hero h3{
        font-size: 20px;
    }
    #images img{
        width: 180px;
        height: 180px;
    }
}